/* change background color and position */

@keyframes myfirst
{
from   {background: red; left:calc(100% - 170px); top:0px;}
/*25%  {background: yellow; left:200px; top:0px;}
50%  {background: blue; left:200px; top:200px;}
75%  {background: green; left:0px; top:200px;}*/
to {background: yellow;  left:calc(100% - 170px); top:0px;}
}

#box
{
width:150px;
height:150px;
background:red;
position:relative;}
/* animation part */

/*
animation-name: myfirst;
animation-duration: 2s;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: 1;
animation-direction: normal;
animation-play-state: running;

}
*/

/* the #box CSS, in the animationt part, could be written like what is shown below: */
#box
{
animation: myfirst 10s linear 5s infinite alternate;
}
